name: Publish to Docker registry

on:
  push:
    # Publish `master` as Docker `latest` image.
    # branches:
    #   - master
    tags:
      - v*

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
    - name: Set tag in env...
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - uses: actions/checkout@master
    - name: Publish to Docker Registry...
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: noudadrichem/docker-express
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: "latest,${{ env.RELEASE_VERSION }}"

  deploy:
    needs: [push]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Push to server...
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASS }}
          script: cd docker-express && echo '${{ secrets.HOST_PASS }}' | sudo -S docker pull noudadrichem/docker-express:latest && echo '${{ secrets.HOST_PASS }}' | sudo -S docker-compose up -d

